<%- include('header') %>

<h1> Art Piece </h1>

<ul>

    Title: <%- singles.title %>
    <br>
    <img src="<%- singles.primaryimageurl %>" style="max-width:360px;">
    <br>
    People: <%- singles.people[0].name %>


</ul>

<h4> Comments </h4>
<!-- if the objectnumber of the art matches the objectbumber in the dictionary, then post the commnts -->
<% for (var i = 0; i < users.length; i++) { %>
    <% if (users[i].objectNumber === singles.objectnumber) { %>
        <% for (var j = 0; j < users[i].comment.length; j++) { %>
            <li>
                <%- users[i].comment[j] %>
            </li>
            <br>
        <% } %>
    <% } %>
<% } %>




<ul>
<!-- Post a comment form! -->
    <div id="respond">
        <h4> Leave a Comment </h4>
        <form action="/object/<%- singles.objectnumber%>" method="post" id="commentform">
            <p>
                <label> Name: </label>
                <input autocomplete="off" autofocus name="username" type="text">
            </p>
            <p>
                <label> Comment: </label>
                <input name="comment" type="text">
            </p>
            <p>
                <input value="Add Comment" type="submit">
            </p>
        </form>
    </div>

</ul>




<%- include('footer') %>